
$blog-content-color: $white;



.beauty-trends{
    .blog-item{
        overflow: hidden;
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
        img{
            display: block;
            width: 100%;
            transition: 0.3s linear;
        }
    }

    .blog-img{
        margin-bottom: 12rem;
    }

    .blog-content{
        background-color: $blog-content-color;
        padding: 2.2rem 1.8rem 3rem 1.8rem;
        top: 70%;
        left:1.4rem;
        right:1.4rem;



        .blog-date{
            font-family: $bodoni;
            font-size: 1.4rem;
            font-style: italic;
            letter-spacing: 0.1rem;
            line-height: 1.7rem;
            text-align: center;
            text-decoration: none;      
        }
        .blog-text{
            text-transform: uppercase;
            font-size: 1.6rem;
            line-height: 2.4rem;
            text-align: center;
            font-weight: 400;
        }
    }
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0;
    .owl-dot span{
        background: $pink-dark;
    }
}

@media(min-width:450px){
    .beauty-trends{
        .section-title{
            font-size: 2.2rem;
            line-height: 2.8rem;
            letter-spacing: 0.34rem;
            padding: 2.2rem 0 2.2rem;
        }
    }

}

@media(min-width:576px){
    .beauty-trends{
        .section-title{
            font-size: 2.6rem;
            line-height: 3rem;
            letter-spacing: 0.4rem;
            padding: 2.6rem 0 2.6rem;
        }
    }
}

@media(min-width:768px){
    .beauty-trends{
        .section-title{
            font-size: 3rem;
            line-height: 4.5rem;
            letter-spacing: 0.5rem;
            padding: 4rem 0 4rem;
        }
    }

}

@media(min-width:992px){
    .beauty-trends{
        .section-title{
            padding: 5rem 0 5rem;
        }
    }
}

@media(min-width:1200px){

}
